# Data Science Tools and Ecosystems

This notebook forms part of my final assignment for the Tools for Data Science Module. In this notebook, Data Science Tools and Ecosystems are summarised.

**Objectives**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List popular Data Science Tools
* Perform simple arithmetic computations

Some of the more popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter |
| Apache Zeppelin |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expression examples

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Sam Rosindell